{deps, [{brod_oauth, {git, "git@github.com:HCA-Healthcare/brod_oauth.git"}},
        {brod, "4.1.0"},
        {kafka_protocol, "4.1.8"},
        {jsone, "1.8.1"}
        ]}.

{escript_incl_apps, [example, brod, brod_oauth, kafka_protocol, jsone, crc32cer]}.

{escript_main_app, example}.

{escript_name, example}.

{escript_emu_args, "%%! +sbtu +A1\n"}.

{profiles, [
    {test, [
        {deps, [{meck, "0.9.2"}, {kafka_protocol, "4.1.6"}]},
        {erl_opts, [nowarn_export_all, debug_info]}
    ]}
]}.
